*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #F5F5F5;
  line-height: 113%;
  font-size: 1.6rem;
  background-color: #F5F5F5;
}

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

.title-1 {
  font-size: 4.5rem;
  font-weight: 700;
  color: white;
}

.title-2 {
  font-size: 4rem;
  font-weight: 700;
  color: #F5F5F5;
  line-height: 100%;
}

.title-3 {
  font-size: 1.9rem;
  font-weight: 700;
  color: #425844;
}
.title-3_white {
  color: white;
}
.title-3_green-light {
  color: #61A568;
}

.title-4 {
  font-size: 1.4rem;
  font-weight: 300;
  color: #61A568;
}

.cards {
  background-color: #F5F5F5;
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 4rem 6rem;
  padding: 15rem 0;
}

.card {
  background-color: #101D2C;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 4.5rem;
}
.card__btn {
  grid-column: 1/-1;
}
.card__title {
  grid-column: 1/-1;
  grid-row: 1/2;
  width: 80%;
  background-color: #425844;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  color: #F5F5F5;
  justify-self: center;
  align-self: end;
  padding: 1.5rem 0;
  transform: translateY(50%);
}
.card__img {
  width: 100%;
  grid-column: 1/-1;
  grid-row: 1/2;
}
.card__svg {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.content {
  margin-left: 2.5rem;
  display: flex;
}
.content p {
  font-size: 1.6rem;
  font-weight: 300;
  color: #F5F5F5;
}

.header {
  background: #101D2C;
  grid-column: full-start/col-end 6;
}

.features {
  padding: 15rem 0;
  background: #F5F5F5;
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  grid-gap: 3rem 4rem;
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 1.5rem 2.5rem;
  align-items: start;
}
.feature__icon {
  width: 4.5rem;
  height: 4.5rem;
  grid-row: 1/span 2;
  transform: translateY(-1rem);
}
.feature__text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 113%;
  color: #425844;
}

.gamers {
  background: #101D2C;
  grid-column: col-start 7/full-end;
}

.banner-img {
  background: #101D2C;
  grid-column: full-start/col-end 4;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(24, 1fr);
  background: url(../img/background.png) center/cover no-repeat;
}
.banner-img__img-1 {
  width: 100%;
  grid-column: 3/15;
  grid-row: 3/12;
}
.banner-img__img-2 {
  width: 100%;
  grid-column: 5/-1;
  grid-row: 9/22;
  transform: translateX(3.5rem);
}
.banner-text {
  background: #101D2C;
  grid-column: col-start 5/full-end;
  padding: 0 4vw;
  display: grid;
  align-content: center;
  justify-items: start;
}
.banner-text__text {
  margin-bottom: 4rem;
}

.sidebar {
  background: #425844;
  grid-column: sidebar-start/sidebar-end;
  grid-row: 1/-1;
}

.gallery {
  background: #101D2C;
  grid-column: full-start/full-end;
}

.footer {
  background: #101D2C;
  grid-column: full-start/full-end;
}

.btn {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #F5F5F5;
  background-color: #61A568;
  border: 0;
  padding: 1.5rem 3rem;
}
.btn:hover {
  background-color: #425844;
}

.mb-sm {
  margin-bottom: 3rem;
}
